.square{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    font-size: 50px;
    text-align: center;
    border: 1px solid grey;
}

.board-row{
    margin-top: 0px;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.board{
    margin: auto;
}

.status{
    font-size: 40px;
    font-weight: bold;
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

#restart{
    background-color: lightblue;
    border: 0px;
    border-radius: 5%;
    text-align: center;
}


.bodyPlayers{
    width: 700px;
    height: 500px;
    background: lightgrey;
    margin: auto;
    margin-top: 30px;
}

.boxtitle{
    width: 100%;
    height: 100px;
    text-align: center;
    text-justify: center;
    padding-top: 70px;
    font-weight: bold;
    font-size: 30px;
}

.boxfooter{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 40px;
}


